#Text file
*.txt
*.md
*.log

# Source code files
*.c
*.cc
*.cpp
*.cxx
*.h
*.hpp

# Prerequisites
*.d

# Compiled object files
*.slo
*.lo
*.o
*.obj
*.objective-binary

# Precompiled headers
*.gch
*.pch

# Compiled static libraries
*.a
*.lib

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables binary files
*.exe
*.com
*.pkg
*.app
*.AppImage
*.elf

# Executables text script files
*.cmd
*.bat
*.sh
Makefile
makefile

#Integrated Development Environment - Code Project Files
*.sln
*.vcxproj
*.cbp
